* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Gotham Pro;
    src: url(../fonts/GothamPro.ttf);
}
html, body {
    height: 100%;
}
#panorama {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* margin: 30px 0; */
    padding-bottom: env(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-top);
}
.pnlm-panorama-info {
    padding: 10px 10px 10px 5px;
    background-color:rgba(117, 117, 117, 0.6);
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.6), inset 0px 20px 20px rgba(255, 255, 255, 0.12), inset 0px -1.5px 3px rgba(255, 255, 255, 0.12), inset 0px -1.5px 4.5px rgba(255, 255, 255, 0.12), inset 0px -20px 20px rgba(47, 47, 59, 0.05), inset 0px 3px 6px rgba(255, 255, 255, 0.2);    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    backdrop-filter: blur(10px);
    border-radius: 0px 12px 12px 0px;
    font-family: Gotham Pro;

}

.pnlm-orientation-button-inactive {
    /*background-position: 2px -155px;*/
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-color: rgba(154,33,30,.8);
    position: absolute;
    top:10px;
    background-image: url(../../storage/app/public/assets/compass.svg);
    background-position: center;
    background-size: 20px;
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.3),
    inset 0px 20px 10px -20px rgba(255, 255, 255, 0.12),
    inset 0px -1.5px 3px rgba(255, 255, 255, 0.12),
    inset 0px -3px 9px rgba(255, 255, 255, 0.24),
    inset 0px 3px 6px rgba(255, 255, 255, 0.2);
    border:none;
}
.pnlm-orientation-button-inactive:hover {
    background-color: rgba(171, 36, 33, 0.8);
}
#controls {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visible {
    border-radius: 25px;
    color: white;
    display: inline-block;
    padding: 5px 30px;
    background-color: rgba(117, 117, 117, 0.6);
    /*border: 1px solid #FFFFFF;*/
    box-sizing: border-box;
    box-shadow:
        inset 0px 1px 1px rgba(255, 255, 255, 0.2),
        inset 0px 1px 4px rgba(255, 255, 255, 0.12),
        inset 0px -3px 6px rgba(255, 255, 255, 0.12),
        inset 0px -6px 18px rgba(255, 255, 255, 0.12),
        inset 0px -22px 20px rgba(47, 47, 59, 0.05),
        inset 0px 3px 6px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.ctrl {
    color: #fefefe;
    padding: 8px 5px;
    width: 30px;
    border-radius: 25px;
    border: 3px solid #ccc;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.ctrl:hover {
    background: #636161;
}


/* .ctrl-toggle {
    max-height: 100vh;
} */

.ctrl-toggle-on {
    max-height: 100vh;
    transform: translateY(0px);
    transition: all 0.5s;
}

.ctrl-toggle-off {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transform: translateY(50px);
    transition: all 0.3s;
}

.toggle-bar {
    border: none;
    padding: 8px;
    transition: all 0.5s;
}

.toggle-rotate {
    transform: rotate(180deg);
    transition: all 0.5s;
}

.ctrl-toggle-button {
    display: inline-block;
}

.map-toggle {
    /*position: absolute;*/
    /*top: 20px;*/
    z-index: 3;
    right: 10px;
    border:none;
    width: 40px;
    height: 40px;
    background-color: rgba(171, 36, 33, 0.8);
    border-radius: 3px;
    cursor: pointer;
    margin-left:10px;
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.3),
    inset 0px 20px 10px -20px rgba(255, 255, 255, 0.12),
    inset 0px -1.5px 3px rgba(255, 255, 255, 0.12),
    inset 0px -3px 9px rgba(255, 255, 255, 0.24),
    inset 0px -20px 20px rgba(47, 47, 59, 0.5),
    inset 0px 3px 6px rgba(255, 255, 255, 0.2);
}

.map-toggle:hover {
    background-color: rgba(154, 33, 30, 0.8);
}
.map-toggle-off {
    display:none;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.map {
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 80%;*/
    width: 205px;
    /*height: 440px;*/
    z-index: 2;
    opacity: 0.4;
    /*background-image: url(/assets/map2.webp);*/
    /*background-size: 190px 370px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 85%;*/
    transition: all 0.5s;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(117, 117, 117, 0.6);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.4),
    inset 0px 1px 4px rgba(255, 255, 255, 0.12),
    inset 0px -3px 6px rgba(255, 255, 255, 0.12),
    inset 0px -6px 18px rgba(255, 255, 255, 0.12),
    inset 0px -22px 20px rgba(47, 47, 59, 0.1),
    inset 0px 3px 6px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}

.map-wrapper {
    position: absolute;
    right:2%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.5%;
}

.map-pic {
    max-width: 190px;
    margin-top: 10px;
}
.map-toggle-on {
    display:none;
}
/*.map-after-scenechange {*/
/*    display:none;*/
/*}*/
.map:hover {
    opacity: 0.9;
}

.map-description-text {
    display:none;
    color: white;
    background-color: rgba(171, 36, 33, 0.8);
    padding: 7px;
    box-sizing: border-box;
    /*border-radius: 10px;*/
    font-size: 15px;
    font-family: Gotham Pro;
}
.map-description-text-pc {
    position: absolute;
    top:2%;
    color: white;
    background-color: rgba(171, 36, 33, 0.6);
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Gotham Pro;
    z-index: 2;
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.3),
    inset 0px 20px 100px -20px rgba(255, 255, 255, 0.12),
    inset 0px -1.5px 3px rgba(255, 255, 255, 0.12),
    inset 0px -3px 9px rgba(255, 255, 255, 0.24),
    inset 0px -20px 20px rgba(47, 47, 59, 0.5),
    inset 0px 3px 6px rgba(255, 255, 255, 0.2);
    /* Note: backdrop-filter has minimal browser support */
    backdrop-filter: blur(20px);
    border-radius: 0px 12px 12px 0px;
}
.point {
    position: relative;
}

.pnlm-tooltip {
    cursor: pointer;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type=radio]:checked+label.point-label,
[type=radio]:not(:checked)+label.point-label {
    position: relative;
    padding-left: 16px;
    cursor: pointer;
    line-height: 20px;
    color: black;
}

[type=radio]:checked+label.point-label:before,
[type=radio]:not(:checked)+label.point-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    border: 3px solid black;
    border-radius: 100%;
    background: white;
}

input[type=radio]:not(:checked):hover+label.point-label:before {
    border: 3px solid #AB2421;
}

[type=radio]:checked+label.point-label:before {
    border: 4px solid #AB2421;
    width: 6px;
    height: 6px;
}

[type=radio]:not(:checked)+label.point-label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type=radio]:checked+label.point-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#open-list {
    position: absolute;
    left:9999px
}
@media (max-width:1000px) {
    .map-toggle {
        display: block;
        /*margin-top:10px;*/
        /*border: 3px solid #ccc;*/
        /*width: 28px;*/
        /*height: 28px;*/
        /*border-radius: 17px;*/
        /*background-color: rgba(67, 66, 66, 0.7);*/
    }
    /*.map-toggle:hover {*/
    /*background-color: rgba(154, 33, 30, 0.8);*/
    /*}*/
    .map-toggle-on {
        display:none;
    }
    .map {
        left: 70%;
        top: 1%;
        overflow-x: hidden;
        overflow-y: scroll;
        /*margin-top:10px*/
        /*width: 225px;*/
        /*height: 275px;*/
    }
}

.pnlm-render-container {
    background: black;
}
@media (max-height: 450px) {
    #open-list {
        top: 100%;
        left:0;
    }
    .pnlm-orientation-button-inactive {
        top:45px;
        right:0vw;
    }
    body {
        position: fixed;
        left:0;
    }
    #panorama {
        position: fixed;
    }
    /*.map {*/
    /*    width: 250px;*/
    /*}*/
    /*.map-description-text {*/
    /*    display:block;*/
    /*    width:190px;*/
    /*}*/
    /*.map-description-text h2 {*/
    /*    font-size: 10px;*/
    /*}*/
    /*.map-description-text h3 {*/
    /*    font-size:9px;*/
    /*}*/
    /*.map-description-text-pc {*/
    /*    display:none;*/
    /*}*/
}
@media (max-height: 425px) {
    #open-list {
        top: 105%;
    }
}

@media (max-height: 415px) {
    #open-list {
        top: 110%;
    }
}

@media (max-height: 375px) {
    #open-list {
        top: 120%;
    }
}
@media (max-height: 350px) {
    #open-list {
        top: 120%;
    }
}

@media (max-height: 330px) {
    #open-list {
        top: 130%;
    }
}

@media (max-width: 425px) {
.orientation-button {
    display: none;
}
    #open-list {
        left:9999px;
    }

    .map-wrapper {
        /*    height: -webkit-fill-available;*/
        margin-top: 0;
        /*    width:100%;*/
        right:0;
    }

    .point {
        margin-left: 5px;
        margin-top: 17px;
    }

    .map-description-text {
        display:block;
        font-size: 8px;
        width:255px;
    }
    .map-description-text h3 {
        font-size:9px;
    }
    .map-description-text-pc {
        display: none;
    }
    .visible {
        max-height: 0;
        padding: 5px 10px;
        overflow: hidden;
    }
    .toggle-bar {
        transform: rotate(180deg);
    }
    .toggle-rotate {
        transform: rotate(0deg);
    }
    .ctrl-toggle-on {
        max-height: 0;
        transform: translateY(50px);
    }
    .ctrl-toggle-off {
        max-height: 100vh;
        transform: translateY(0px);
    }
    .map-toggle {
        display: block;
        position: absolute;
        top: 12px;
        right:11px;
        border-radius: unset;
        width: 42px;
        height: 43px;
    }

    .map {
        display:none;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        left: 0;
        top: 0;
        background-size: 350px 80%;
        /*background-position: bottom;*/
        box-sizing: border-box;
    }

    .map-pic {
        max-width: 300px;
        /*align-self: flex-end;*/
        max-height: 595px;
    }
    .map-toggle-on {
        display: flex;
        align-items: flex-start;
    }

    .map-toggle-off {
        display:none;
    }


    .map-after-scenechange {
        display:none;
    }
}
